@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor-destaque: #656149;
    --cor-destaque1: #0B2114;
    --cor-de-fundo: #DFD9C9;
    --cor-texto-importante: #fff;
    --cor-texto: #333333;
    --cor-section: #969292;
    --cor-input: #000;
    --cor-section1: #d1c197;
    --fonte-destaque: "Cormorant", sans-serif;
    --fonte-padrao:  "Merriweather", sans-serif;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-padrao);
    overflow-x: hidden;
}

h2, p{
    color: var(--cor-texto);
    font-family: var(--fonte-padrao);
}

header{
    width: 100%;
}

header #container-header{
    background-color: var(--cor-destaque1);
    padding: 3vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-height: 15vh;
}

h1{
    font-family: var(--fonte-destaque);
}

header img{
    max-width: 10vw;
    max-height: 80%;
}

#container-header h1{
    font-size: 3vw;
    color: var(--cor-texto-importante);
}

header ul{
    list-style-type: none;
}

.menu-hamburguer{
    color: var(--cor-de-fundo);
    width: 5vw;
    cursor: pointer;
}

.menu-hamburguer span{
    height: 0.3vw;
    width: 100%;
    background-color: var(--cor-de-fundo);
    display: block;
    margin-bottom: 0.5rem;
}

nav{
    max-height: 10vh;
    font-size: 2vw;
    padding: 1vw 2vw;
    background-color: var(--cor-section);
    width: 100%;
    display: none;

}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav ul a{
    cursor: pointer;
    text-decoration: none;
    color: white;
}

main{
    overflow-x: hidden;
}



section{
    max-width: 100vw;
    margin: 1vw;
}

#bombando h2{
    color: var(--cor-input);
    font-family: var(--fonte-destaque);
    margin-left: 5vw;
    font-size: 3vw;
}

#carousel-images {
    padding: 2vw;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}

#carousel-images img {
    height: 30vh;
    border-radius: 8px;
    box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.224);
}

#carousel-images .content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p{
    color: var(--cor-input);
    margin-top: 0.5vw;
}

#catalogo{
    text-align: center;
    font-size: 5vw;
    font-family: var(--fonte-destaque);
    font-weight: bold;
}

.container-flex{
    width: 100%;
    display: flex;
    justify-content: center;
}

#itens{
    text-align: center;
    margin: 1vw;
    background-color: var(--cor-section1);
    padding: 0 2vw 2vw 2vw;
    width: 90%;
    border-radius: 10px;
}

#itens img{
    max-width: 18vw;
    border-radius: 10px 10px 0 0;
}

#itens ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#itens ul li{
    list-style-type: none;
    margin-top: 2.25vw;
}


.item{
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item p{
    font-family: var(--fonte-destaque);
    font-weight: 900;
    font-size: 3vw;
}

.botao-interesse{
    background-color: var(--cor-section);

    font-family: var(--fonte-padrao);
    font-style: italic;
    color: white;
    font-weight: bolder;

    width: 18vw;
    padding: 1vw;
    border: none;
    cursor: pointer;

    border-radius: 0 0 10px 10px;  
    
    transition: color 0.3s ease;
}

.botao-interesse:hover{
    color: var(--cor-destaque1);
    background-color: var(--cor-de-fundo);
}

div#download {
    width: fit-content;
    background-color: var(--cor-destaque1);
    padding: 2vw 3vw;
    margin:  2vw auto 0 auto;
    border-radius: 8px;
}

div#download p {
    color: white;
    font-size: 2vw;
}

div#download a {
    color: white;
}

#contato{
    background-color: var(--cor-section1);
    width: 90%;
    border-radius: 8px;
    padding: 1vw 2vw;
}

#container-contato{
    width: 100%;
    padding-bottom: 1.5vw;
    overflow-y: hidden;
}

#contato div{
    width: 100%;
    display: flex;
    overflow-y: hidden ;
}

#contato h2{
    font-size: 3vw;
    width: fit-content;
}

div#formas-contato{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--fonte-padrao);
}

div#formas-contato ul {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

div#formas-contato ul li a {
    display: flex;
    align-items: center;
    gap: 2vw;
}

ul{
    list-style-type: none;
}

#formas-contato h3{
    font-size: 2vw;
}

#formas-contato a{
    color: var(--cor-input);
    text-decoration: none;
}

div#formas-contato img {
    width: 4vw;
}

#redes-images{
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
}

#div-itemInteresse{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
}

#div-itemInteresse span{
    display: none;
}

#div-itemInteresse img{
    width: 50%;
    border-radius: 250px;
}

#div-itemInteresse p{
    font-size: 4vw;
    font-weight: bolder;
}

#divNomeDoItem{
    text-align: center;
    display: none;
    align-items: center;
    width: 100%;
    margin-left: 5vw;
}

#nomeItemSelecionado {
    width: 100%;
}

#itemSelecionado{
    width: 100%;
}

footer{
    width: 100%;
    overflow: hidden;
    background-color: var(--cor-destaque1);
    padding: 1vw;
    text-align: center;
}


footer a{
    color: var(--cor-de-fundo);
}


@media (max-width: 1366px) {

    #container-header h1{
        font-size: 3vw;
    }

    #carousel-images img {
        height: 20vh;
    }
    
}

@media (max-width: 1000px) {

    header img{
        max-width: 15vw;
    }

    #container-header h1{
        font-size: 5vw;
    }

    .menu-hamburguer span{
        height: 0.2rem;
        
    }

    nav{
        max-height: 10vh;
        font-size: 3vw;
    }

    #bombando h2{
        font-size: 6vw;
    }

    #container-interesse img{
        max-width: 4vw;
    }
    
    #interesse input{
        font-size: 3vw;
    }

    #itens{
        padding: 3vw;
    }

    #contato h2{
        font-size: 5vw;
    }

    #container-contato{
        padding: 1vw 0;
    }

    #formas-contato ul li a img {
        width: 7vw;
    }

    #formas-contato {
        margin-right: 2vw;
    }

    #formas-contato h3{
        font-size: 3.5vw;
    }

    h2#nomeItemSelecionado{
        font-size: 4vw;
    }

    div#download {
        width: fit-content;
    }

    div#download p {
        font-size: 3.5vw;
    }

    #divNomeDoItem{
        margin-left: 3vw;
    }


    
}
